<h2>Create a new flybox</h2>

<div class="form">
  <form method="POST" action="/flyboxes/new">
    <p>Flybox name: <input type='text' name='flybox_name' required><br></p>
    <input type='submit' name='Create'>
  </form>
</div>
