h1 {
  width: auto;
  background-color: #8fb269;
  padding: 45px 10px;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

h2 {
  width: auto;
  text-align: center;
}

.content {
  margin: auto;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

div.content div.row {
  margin: auto;
}
.container {
  margin: auto;
  width: 560px;
}

div.content div.row div.col-sm-8 {
  display: inline;
  width: 250px;
}

div.cen-list {
  width: 250px;
  margin: auto;
}

nav {
  width: 100%;
  background-color: #ccc;
  margin-top: 0;
}

nav p {
  display: inline;
}

nav a {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
  color: #333;
  font-weight: bold;
  text-align: center;
}

nav a:hover {
  padding-top: 3px;
  padding-bottom: 2px;
  width: auto;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

nav a:visited {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
  color: #333;
  font-weight: bold;
  text-align: center;
}

nav a:visited:hover {
  color: white;
}

footer {
  background-color: #ccc;
  margin: 50px auto;
  border-top: 1px #333 solid;
  padding: 25px;
  text-align: center;
  font-size: .8em;
}
