<!doctype html>
<html>
  <head>
    <title>Virtual Flybox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <p>User: <%= current_user.username %></p>
        <a href="/flyboxes">View Flyboxes</a>
        <a href="/flies">View Flies</a>
        <a href="/logout">Logout</a>
      <% else %>
        <a href='/signup'>Sign Up</a>
        <a href='/login'>Log In</a>
      <% end %>
    </nav>
    <div class='content'>
      <h1>Virtual Flybox</h1>
      <%= yield %>
    </div>
  </body>
</html>
